/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* Dhades of Red */
    --clr-red-1: hsl(0, 100%, 15%);
    --clr-red-2: hsl(0, 90%, 25%);
    --clr-red-3: hsl(0, 80%, 35%);
    --clr-red-4: hsl(0, 70%, 40%);
    --clr-red-5: hsl(0, 70%, 50%);
    --clr-red-6: hsl(0, 60%, 55%);
    --clr-red-7: hsl(0, 50%, 65%);
    --clr-red-8: hsl(0, 40%, 75%);
    --clr-red-9: hsl(0, 30%, 85%);
    --clr-red-10: hsl(0, 20%, 90%);

    /* Shades of Black (Greys) */
    --clr-black-1: hsl(0, 0%, 5%);
    --clr-black-2: hsl(0, 0%, 15%);
    --clr-black-3: hsl(0, 0%, 25%);
    --clr-black-4: hsl(0, 0%, 30%);
    --clr-black-5: hsl(0, 0%, 40%);
    --clr-black-6: hsl(0, 0%, 50%);
    --clr-black-7: hsl(0, 0%, 55%);
    --clr-black-8: hsl(0, 0%, 65%);
    --clr-black-9: hsl(0, 0%, 75%);
    --clr-black-10: hsl(0, 0%, 85%);

    /* Additional CSS Variables */
    --clr-white: #fff;
    --ff-primary: "Lato", sans-serif;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s linear;
    --nav-height: 5.5rem;
    --spacing: 0.25rem;
}

/*
=============== 
Global styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
=============== 
Navbar styles
===============
*/

.navbar {
    position: fixed;
    background: var(--clr-black-2);
    box-shadow: var(--dark-shadow);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#nav-logo {
    cursor: pointer;
    max-height: calc(var(--nav-height) - 0.5rem);
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: var(--nav-height);
}

#nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-red-5);
  cursor: pointer;
  transition: var(--transition);
}

#nav-toggle:hover {
  transform: scale(1.2);
}

#nav-links {
    height: 0px;
    overflow: hidden;
    transition: var(--transition);
}

.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-black-9);

}

.nav-link:hover{
    /* color: var(--clr-red-1); */
    background: var(--clr-red-6);
    padding-left: 2.25rem;
}


.social-icons {
    display: none
}

.show-links {
    height: 280px;
}


/* 
=============== 
Hero styles
===============
*/

.hero {
    min-height: 200vh;
    background-color: var(--clr-black-5);
}